# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/arm64-v8a/build_model.json
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/armeabi-v7a/build_model.json
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86/build_model.json
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86_64/build_model.json
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/arm64-v8a/configure_command.bat
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/armeabi-v7a/configure_command.bat
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86_64/configure_command.bat
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/arm64-v8a/configure_stderr.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/armeabi-v7a/configure_stderr.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86_64/configure_stderr.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/arm64-v8a/configure_stdout.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/armeabi-v7a/configure_stdout.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86_64/configure_stdout.txt
/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/FRtHLHOxs_E9GckJAG7Tn2n7uLQ=
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/arm64-v8a/generate_cxx_metadata_93_timing.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86/generate_cxx_metadata_93_timing.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/armeabi-v7a/generate_cxx_metadata_99_timing.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86_64/generate_cxx_metadata_99_timing.txt
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/arm64-v8a/metadata_generation_record.json
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/armeabi-v7a/metadata_generation_record.json
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86/metadata_generation_record.json
/android/app/build/intermediates/cxx/Debug/3b1u6324/logs/x86_64/metadata_generation_record.json
